body {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	font-size: 30px;
	background-color: rgb(190, 164, 129)
}

h1 {
	text-align: center;
}

.acc-kontainer {
	max-width: 80vh;
	margin: 5rem auto;
	cursor: pointer;
}



.acc-item {
	border-top: .3vh solid #af7676;
}

.acc-title {
	display: flex;
	justify-content: space-between;
	padding: 1vh 3vh;
	transition: background-color .4s ease-out;
	cursor: pointer;
	color: #fff;
}

.acc-title:hover {
	background-color: #af7676;

}

.acc-input {
	display: none;
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
	width: 0;
	height: 0;
}

.acc-input:checked~.acc-title {
	background-color: #af7676;
}

.acc-input~label i {
	transition: .5s;
}

.acc-input:checked~label i {
	transform: rotate(45deg);
}

.acc-input:checked~.acc-image {
	display: block;
	height: 100%
}

.acc-image {
	display: none;
	text-align: -webkit-center;
}

.acc-image img {
	width: 80%;
	margin-top: 1vh;
}